<h1>Trend of Classification of Degrees awarded (2013/14 - 2017/18)</h1>
<p>In this Notebook you will show the trend degree classifications awarded from academic year 2013/14 to 2017/18</p>
<p>You will require the files produced when you completed the previous exercise</p>

<h2>Import PANDAs and Matplotlib.pylot</h2>
<p>You will be using the pandas dataframe to store the data and Matplotlib pyplot to plot the data.  Import the necessary libraries</h2>

In [1]:
import pandas as pd
import matplotlib. pyplot as plt

<h2>Read the data into a PANDAs DataFrame</h2>
<p>Read the 'df_first.csv' in to a data frame called df, use the head method to output the first 6 rows of the datafile so that the structure of the dataframe can be explored.</p>

In [2]:
df = pd.read_csv("df.csv")
df.head(20)
df = df.drop(columns=['level_0', 'index'])
df

   Academic Year Classification of First Degree  Number  Percentage
0        2013/14                          First   79410          20
1        2013/14                   Lower second   95965          24
2        2013/14                     Third/Pass   21905           6
3        2013/14                   Upper second  198320          50
4        2014/15                          First   81640          22
5        2014/15                   Lower second   85250          23
6        2014/15                     Third/Pass   20340           5
7        2014/15                   Upper second  183680          50
8        2015/16                          First   88890          24
9        2015/16                   Lower second   81595          22
10       2015/16                     Third/Pass   19280           5
11       2015/16                   Upper second  186565          50
12       2016/17                          First  100945          26
13       2016/17                   Lower second   79515          20
14       2016/17                     Third/Pass   19025           5
15       2016/17                   Upper second  192395          49
16       2017/18                          First  110475          28
17       2017/18                   Lower second   76210          19
18       2017/18                     Third/Pass   17830           4
19       2017/18                   Upper second  192425          48

<h2>Setting the Index</h2>
<p>Set Academic Year as the row index and remove any unnamed columns.  Then output the dataframe to make sure it is as expected</p>

In [ ]:
mask = df['Academic Year'] == "2017/18"

<h2>Define the Size of the Figure</h2>
<p>We are now ready to plot.  Figures consist of one or more plots, set the size of the figure to 10 inches by 5 inches. Give your figure a name called '1st_trend' and assign this object to a variable named fig</p>

<h2>Create a Plot</h2>
<p>Create a line plot using using the data from the 'Percentage' column.  Give the plot a label equal to 'First Class Degrees'.</p>

<h2>Adding x and y labels</h2>
<p>Add a x label 'Academic Year' and a y label '% Achieved', then replot</p>

<h2>Add a Title to the Plot</h2>
<p>Add a title to the plot, 'Percentage of First Class Degrees Awarded'</p>

<h2>Adding Markers to identify the Data Points</h2>
<p>Add markers to the line plot so that the data points are clearer.</p>

<h2>Adding Plots to the Figure</h2>
<p>Read in the data file 'df_upp_sec.csv' to a dataframe named df2 and plot the data for the 'Percentage' column.  Your plot should have two lines, one for first class degrees and one for upper second class degrees.</p>
<p>Rename the title of the plot to 'Percentage of Degrees Awarded by Classification'.</p>

<h2>Adding a Legend</h2>
<p>Add a Legend to the plot so that it is clear which line represents which classification</p>

<h2>Completing the Graph</h2>
<p>Complete the plot by adding plots for lower second and third class degrees.</p>
<p>In addition make the following changes:</p>
<ul>
<li>Position the legend to top right of the plot</li>
<li>Change the labels for each plot to 1, 2.1, 2.2 and 3</li>
<li>Give each plot different markers</li>
</ul>

<h2>Saving your Plot</h2>
<p>Save your plot as a png named 'degree_class_five_years.png'</p>

<h2>Higher Resolution Plots</h2>
<p>Open degree_class_five_years.png and zoom in.</p>
<p>Now when saving the plot set the dpi to 500, open the plot and zoom in again.</p>

<h2>What the Plot tells you</h2>
<p>Based on your plot, complete the following statements</p>
<ul>
<li>The percentage of first class degrees awarded in 2017/18 is _____________ than in 2013/14</li>
<li>The percentage of upper second class degrees awarded in 2017/18 is _____________ than in 2013/14</li>
<li>The percentage of lower second class awarded in 2017/18 is _____________ than in 2013/14</li>
<li>The percentage of third class degrees awarded in 2017/18 is _____________ than in 2013/14</li>
</ul>