<h1>Pandas features</h1>
<p>
Data manipulation with DataFrame object
    
 
</p>

<h1>Import the Pandas library with alias pd</h1>
<p>Pandas can be imported using the alias pd:
import pandas as pd</p>

In [7]:
import pandas as pd

In [8]:
help pd

SyntaxError: invalid syntax (<ipython-input-8-dd1d26f27d7a>, line 1)

In [9]:
help(pd)

Help on package pandas:

NAME
    pandas

DESCRIPTION
    pandas - a powerful data analysis and manipulation library for Python
    =====================================================================

    **pandas** is a Python package providing fast, flexible, and expressive data
    structures designed to make working with "relational" or "labeled" data both
    easy and intuitive. It aims to be the fundamental high-level building block for
    doing practical, **real world** data analysis in Python. Additionally, it has
    the broader goal of becoming **the most powerful and flexible open source data
    analysis / manipulation tool available in any language**. It is already well on
    its way toward this goal.

    Main Features
    -------------
    Here are just a few of the things that pandas does well:

      - Easy handling of missing data in floating point as well as non-floating
        point data.
      - Size mutability: columns can be inserted and deleted from DataFrame and
        higher dimensional objects
      - Automatic and explicit data alignment: objects can be explicitly aligned
        to a set of labels, or the user can simply ignore the labels and let
        `Series`, `DataFrame`, etc. automatically align the data for you in
        computations.
      - Powerful, flexible group by functionality to perform split-apply-combine
        operations on data sets, for both aggregating and transforming data.
      - Make it easy to convert ragged, differently-indexed data in other Python
        and NumPy data structures into DataFrame objects.
      - Intelligent label-based slicing, fancy indexing, and subsetting of large
        data sets.
      - Intuitive merging and joining data sets.
      - Flexible reshaping and pivoting of data sets.
      - Hierarchical labeling of axes (possible to have multiple labels per tick).
      - Robust IO tools for loading data from flat files (CSV and delimited),
        Excel files, databases, and saving/loading data from the ultrafast HDF5
        format.
      - Time series-specific functionality: date range generation and frequency
        conversion, moving window statistics, moving window linear regressions,
        date shifting and lagging, etc.

PACKAGE CONTENTS
    _libs (package)
    _version
    api (package)
    compat (package)
    computation (package)
    conftest
    core (package)
    errors (package)
    formats (package)
    io (package)
    json
    lib
    parser
    plotting (package)
    testing
    tests (package)
    tools (package)
    tseries (package)
    tslib
    types (package)
    util (package)

SUBMODULES
    _hashtable
    _lib
    _tslib
    offsets

DATA
    IndexSlice = <pandas.core.indexing._IndexSlice object>
    NaT = NaT
    __docformat__ = 'restructuredtext'
    datetools = <module 'pandas.core.datetools' from '/opt/anaco...ython3....
    describe_option = <pandas.core.config.CallableDynamicDoc object>
    get_option = <pandas.core.config.CallableDynamicDoc object>
    json = <module 'pandas.json' from '/opt/anaconda3/lib/python3.6/site-p...
    lib = <module 'pandas.lib' from '/opt/anaconda3/lib/python3.6/site-pac...
    options = <pandas.core.config.DictWrapper object>
    parser = <module 'pandas.parser' from '/opt/anaconda3/lib/python3.6/si...
    plot_params = {'xaxis.compat': False}
    reset_option = <pandas.core.config.CallableDynamicDoc object>
    set_option = <pandas.core.config.CallableDynamicDoc object>
    tslib = <module 'pandas.tslib' from '/opt/anaconda3/lib/python3.6/site...

VERSION
    0.23.4

FILE
    /opt/anaconda3/lib/python3.6/site-packages/pandas/__init__.py

<h1>Creating a series</h1>
<p>This is a one dimensional arraywith axis labels</p>

In [10]:
actor1 = pd.Series({"Name" : "Shatner",
                    "Character" : "Kirk",
                    "Salary" : "5000"})

actor2 = pd.Series({"Name" : "Nimoy",
                    "Character" : "Spock",
                    "Salary" : "1250"})

actor3 = pd.Series({"Name" : "Stweart",
                    "Character" : "Picard",
                    "Salary" : "100000"})

Created a series

In [11]:
actor1
actor2
actor3

Name         Stweart
Character     Picard
Salary        100000
dtype: object

Previously when new print overrides previous print, use python print method to avoid this

In [12]:
print(actor1)
print(actor2)
print(actor3)

Name         Shatner
Character       Kirk
Salary          5000
dtype: object
Name         Nimoy
Character    Spock
Salary        1250
dtype: object
Name         Stweart
Character     Picard
Salary        100000
dtype: object

In [13]:
print(actor1["Name"])
print(actor2["Name"])
print(actor3["Name"])

Shatner
Nimoy
Stweart

<h1>Using a list to store a series</h1>

In [14]:


actor = [{"Name" : "Shatner",
                    "Character" : "Kirk",
                    "Salary" : "5000"},
            {"Name" : "Nimoy",
                    "Character" : "Spock",
                    "Salary" : "1250"},
        {"Name" : "Stweart",
                    "Character" : "Picard",
                    "Salary" : "100000"}]

In [15]:
for i in range(len(actor)):
    print(actor[i].get("Character"))

Kirk
Spock
Picard

<h1>DataFrame for list</h1>

In [16]:
df = pd.DataFrame({"Name" : "Shatner",
                    "Character" : "Kirk",
                    "Salary" : "5000"},
            {"Name" : "Nimoy",
                    "Character" : "Spock",
                    "Salary" : "1250"},
        {"Name" : "Stweart",
                    "Character" : "Picard",
                    "Salary" : "100000"})

In [17]:
df

              Name Character Salary
Name       Shatner      Kirk   5000
Character  Shatner      Kirk   5000
Salary     Shatner      Kirk   5000

In [18]:
df.head(2)

              Name Character Salary
Name       Shatner      Kirk   5000
Character  Shatner      Kirk   5000

Head outputs first n rows, tail outputs last n rows

In [19]:
df = pd.DataFrame(actor, index = ["Original", "Original", "Next Generations"])

In [20]:
df

                 Character     Name  Salary
Original              Kirk  Shatner    5000
Original             Spock    Nimoy    1250
Next Generations    Picard  Stweart  100000

In [21]:
df2 = pd.DataFrame()

In [22]:
for i in range(len(actor)):
    df2 = df2.append(actor[i], ignore_index=True)

In [23]:
df2

  Character     Name  Salary
0      Kirk  Shatner    5000
1     Spock    Nimoy    1250
2    Picard  Stweart  100000

In [24]:
df.loc[["Original"]]

         Character     Name Salary
Original      Kirk  Shatner   5000
Original     Spock    Nimoy   1250

loc method is indexer that works with labelled indexes

In [25]:
df.loc[['Original'],['Name']]

             Name
Original  Shatner
Original    Nimoy

In [26]:
df['Name'].str.startswith("S")

Original             True
Original            False
Next Generations     True
Name: Name, dtype: bool

In [27]:
df.loc[df['Name'].str.startswith("S")]

                 Character     Name  Salary
Original              Kirk  Shatner    5000
Next Generations    Picard  Stweart  100000

In [ ]:
df.T

In [ ]:
df